<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Animal List</title>
  </head>
  <nav>
     <img src="{{image}}" alt="image" />
     <a href="/dashboard">Dashboard</a>
        {{#if loggedIn}}
        <button id="logout" class="button">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
  </nav>
  <body>
    <div>

      <h1>Sup dawg</h1>
    </div>
    {{body}}
  </body>
</html>