<section>
    <h2>Create New Animal Review!</h2>
    <form class="new-animal-review">
        <div>
            <label for="review-title">Post Title:</label>
            <input type="text" id="review-title" name="review-title"/>
        </div>
        <div>
            <label for="review-text">Post Text:</label>
            <textarea id="review-text" name="review-text"></textarea>
        </div>
        <button type="submit" class="button">Create Animal Review!</button>
    </form>
</section>

{{#if animalreview.length}}
<section>
    <h2>Your Reviews</h2>
    <ol>
        {{#each animalreviews as |animalreview|}}
        <li>
            {{> review-info review}}
            <a href="/dashboard/edit/{{animalreview.id}}" class="edit-review">Edit Review</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-review.js"></script>